html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main: #e0f2cb;
  --subBox: #afcc9b;
  --brown: #c2a891;
  --darkBrown: #6b5f55;
}

::placeholder {
  color: black;
  opacity: 0.6;
}