.container{
    height: 3.2rem;
    background-color: var(--main);
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list {
    margin-top: 0rem;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    width: 100vw;
    gap: 1.5rem;
}

.listItem {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.button {
    background-color: var(--green);
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: 8px;
}

.buttonText {
    background-color: white;
}