.main{
    margin-top: 3vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    background-color: var(--subBox);
    border-radius: 1.5rem;
    border-color: var(--darkBrown);
    border-style: solid;
}

.flexColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    margin-left: 0.6rem;
    margin-bottom: 0.12rem;
    border: none;
    background: none;
    outline: none;
}

.inputBox{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 13rem;
    background-color: var(--main);
    border-radius: 25px;
    border-style: solid;
    border-color: var(--darkBrown);
    border-width: 2px;
}

.button {
    width: 6rem;
    height: auto;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    background-color: var(--brown);
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--darkBrown);
    cursor: pointer;

}

.button:hover {
    background-color: var(--main);
}

.button:active {
    transform: scale(1.04);
}

.title {
    justify-content: center;
    text-align: center;
}

.checkBox {
    justify-content: center;
    text-align: center;
    padding-bottom: 0.5rem;
}

.subtitle {
    line-height: 0rem;
}

.optionsButtons {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    text-align: center;
}

.options {
    margin-top: -6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
